@page "/"
@code {
	private List<string> _all = Enumerable.Range(1, 5000).Select(count => $"Product {count}").ToList();		

	private ValueTask<ItemsProviderResult<string>> LoadItems(ItemsProviderRequest request)
	{
		var total = _all.Count;
		var items = _all.Skip(request.StartIndex).Take(request.Count).ToList();
		return new ValueTask<ItemsProviderResult<string>>(new ItemsProviderResult<string>(items, total));
	}

	private void OnRowClick(string item)
	{		
		Thread.Sleep(600);	
		StateHasChanged();
	}
}

<h1>Hello, world!</h1>

Welcome to your new app.

<div style="height: 400px; overflow: auto;">
	<Virtualize ItemsProvider="LoadItems" Context="item">
		<ItemContent>
			<div @onclick="() => OnRowClick(item)">
				<div>@item</div>
			</div>
		</ItemContent>
	</Virtualize>
</div>